.parrafo-inicial {
  background-color: #fafafa;
  margin: 1rem 0 0 4rem;
  text-align: center;
  border: none;
}
.parrafo-grand {
  font-size: 16px;
  margin: 50px;
  text-align: justify;
  line-height: 18px;
}

h4 {
  color: white;
  background-color: #1167b1;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 50px;
}

.carta-uno {
  font-size: 14px;
  margin: 0 0 0 7rem;
  padding: 0 0 2px;
  text-align: justify;
  line-height: 1.1rem;
  background-color: lightblue;
}

.carta-dos {
  font-size: 14px;
  margin: 0 7rem 0 0;
  padding: 0 0 2px;
  text-align: justify;
  line-height: 1.1rem;
  background-color: lightgreen;
}

.table-referencia {
  font-size: 14px;
}
.container-actividad {
  width: 1000px;
  margin: 5rem 10rem;
}
.form-group {
  align-items: center;
  color: #0d2a4c;  
  padding-bottom: 1.2rem;
}

label {
  color: #0d2a4c;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  margin: 2rem 0 0 0;
}

.number-form {
  background-color: #CFE39B;
  border-radius: 163px 163px 163px 163px;
  text-align: center;
}
td { 
  text-align: left;
}

td,
th {
  border: 1px solid #ccc;
  padding: 10px; 
}
th:empty {
  border: 0;
}
