.pagina-tres {
  font-size: 16px;
  margin: 50px;
  margin: 3rem 0 0 2rem;
  background-color: white;
}
.img-practica {
  background-color: white;
  width: 180px;
  height: 180px;
}
.card-tres{
  text-align: left;
  margin: 2rem 4rem ;  
  line-height: 1.2rem;
}
