.pagina-dos {
  font-size: 16px;
  margin: 50px;
  line-height: 20px;
  align-items: center;
  margin: 5rem 0 0 7rem;
  line-height: 1.2rem;
}

.img-body {
  background-color: white;
  height: 350px
}

.img-dos{
  background-color: white;
  margin: 3rem 0 0 2rem;
}
