.container-header{
     border: 2px solid #CFE39B;
     padding-left: 4.7%; 
     background-color: #CFE39B;
}
.row{
    display: flex;
    justify-content: space-between;
}

.titulo-central {
    background-color: #CFE39B;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 15px;    
}
.titulo-der{
    background-color: white;
    color:  #bef26f;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    border-radius: 200px 10px 10px 10px;
    padding: 15px 65px;
}
.titulo-izq {
    background-color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    border-radius: 0px 200px 0px 0px;
    padding: 15px;
}